body {
    background-color : black;
}

.main-content {
    background-color : white;
    width : 640px;
    margin : 0 auto;
}

.game-screen {
    padding : 5px;
    border : solid 2px black;
}

canvas {
	display: block;
    background-color : black;
}

.game-controls {
    padding : 10px 0;
    background-color : black;
    text-align : center;
}

.game-controls span {
    cursor : pointer;
    font-size : 30px;
    color : white;
}

#editor {
    height : 600px;
}
